/* App.css */
body, html {
    margin: 0;
    padding: 0;
    height: cover;
    background-image: url('./images/2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
  }
  
  #root {
    height: 100%;
  }